


body{
  background-color: yellow;
  padding: 15px;
}
section{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}

.right{
  padding-left: 1000px;
}
.left{
  padding-left: 50px;
}

#btn1{

} 
/* you can set weight value between 100-900 lowest to higest */
h1{
  font-weight: 100;
}

h2{
  font-weight: 300;
}

h3{
  font-weight: 500;
}

h4{
  font-weight: 900;
}